<!DOCTYPE html>
<html lang="en">
  <head>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/AssetsBS3/img/favicon.ico">

    <title>Login</title>

    <script language="JavaScript" type="text/javascript" src="jsbn.js"></script>
    <script language="JavaScript" type="text/javascript" src="jsbn2.js"></script>
    <script language="JavaScript" type="text/javascript" src="prng4.js"></script>
    <script language="JavaScript" type="text/javascript" src="rng.js"></script>
    <script language="JavaScript" type="text/javascript" src="ec.js"></script>
    <script language="JavaScript" type="text/javascript" src="sec.js"></script>
	
	<script src="js/ajax1.js"></script>
 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css">
    <link href="css/signin.css" rel="stylesheet">

<style type="text/css">
.videoWrapper {
    position: relative;
    padding-bottom: 10%; /* 16:9 */
    padding-top: 300px;
    height: 100%;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
}
</style>
<style>
html,body { height: 100%; }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #337ab7;
}
</style>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


  </head>




<body>

 <ul>
    <li class="rbx-tab active"> <a class="rbx-tab-heading" href="index.gohtml" id="tab-limiteds" >
            <span class="rbx-lead">Login</span>
            <span class="rbx-tab-subtitle"></span>
         </a>

    </li>
	 <li class="rbx-tab"> <a class="rbx-tab-heading" href="Register.gohtml" id="tab-limiteds" >
            <span class="rbx-lead">Register</span>
            <span class="rbx-tab-subtitle"></span>
         </a>

    </li>
   

</ul> 
  
<div class="container">
  <meta http-equiv="content-type" charset="utf-8" />
        
    

    <form id="form1" name="form1" method="POST" action="/process" class="form-signin" onclick="return false">
    <legend>Smart Card Login</legend>
    <label>ID：</label>
    <input id="C_id" name="C_id" type="text" class="form-control"/>
    <br />

    <label>Password：</label>
    <input id="C_password" name="C_password" type="password" class="form-control"/>
    <br />
	

    <input id="submitt1" name="C_action" type="submit" value="Login"  class="btn btn-lg btn-primary btn-block"/>
    <input id="C_T" name="C_T" type="hidden" value="Login"/>

	


    </form>

</div>
  
  
<button id="callGo" type="submit">AJAX</button>
<div id="response"></div>


</body>

<script>
 $(document).ready(function(){
    $("#submitt1").click(function(){
        if($("#C_id").val()==""){
            alert("你尚未填寫ID");
            eval("document.form1['C_id'].focus()");       
        }else if($("#C_password").val()==""){
            alert("你尚未填寫密碼");
            eval("document.form1['C_password'].focus()");    
        }else{
            document.form1.submit();
        }
    })
	
	$("#callGo").on('click', function() {
		/*
		$.ajax({
		  type: 'GET',
		  url: "http://localhost:9000",
		   //crossDomain: true,
			//dataType: 'jsonp',
		  success: function(data) {
			alert(data);

		  }
		});
		*/
		ajax1();


	});
 })
</script>

<script>
/*
		setInterval(function() {
		//check beverage
		$.ajax({
		  type: 'GET',
		  url: 'http://120.126.15.121:8088/ajax/try_ajax_weather.php',
		  success: function(data) {
		  
			alert(data);
			var obj = jQuery.parseJSON(data);
			marqu_txt = obj;
			//alert(marqu_txt);
			$('#mar1').find("font").html(obj);
			console.log(obj);
		  }
		});
		
	}, 10000);//30mins
	*/
	//alert(2);
</script>


</html>