<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PROCESSOR</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<h1>{{.C_state}}</h1>
<h1>網頁會在五秒後跳轉到</h1> 
<h3>{{.C_state1}}</h3>
<h2>C_id {{.C_id}}</h2>
<h2>C_id  加密 {{.C_id_en}}</h2>
<h2>C_password {{.C_password}}</h2>
<h2>C_password  加密 {{.C_password_en}}</h2>






</body>

<script>
	var goto_web = $( "h3" ).text();
	var delay = 5000; 
	setTimeout(function(){ window.location = goto_web; }, delay);
</script>

</html>